<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liyuan.mapper.JobMapper" >
	<resultMap id="jobtype" type="com.liyuan.po.JobTypeEntity">
		<result column="c_id" jdbcType="VARCHAR" property="c_id"/>
		<result column="c_jobtype1" jdbcType="VARCHAR" property="c_type1"/>
		<result column="c_jobtype2" jdbcType="VARCHAR" property="c_type2"/>
		<result column="c_jobtype3" jdbcType="VARCHAR" property="c_type3"/>
		<result column="n_code" jdbcType="INTEGER" property="n_code"/>
	</resultMap>
  <select id="selectJobtype" resultMap="jobtype">
  	select * from db_test.t_jobtype 
  </select>
  
  <insert id="insertJobinfi">
  	insert into db_test.t_jobinfo
  	 (c_id,n_code,c_zwmc,n_gzxz,n_yx,n_gzjy,n_xlyq,c_zwms,c_gzdz,c_jsjlyx,dt_fbsj,n_zt,c_fbzid) 
  	 values 
  	 (#{c_id},#{n_code},#{c_zwmc},#{n_gzxz},#{n_yx},#{n_gzjy},#{n_xlyq},#{c_zwms},
  	 #{c_gzdz},#{c_jsjlyx},#{dt_fbsj},#{n_zt},#{c_fbzid})
  </insert>
</mapper>