<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script src="./js/lib/vue.min.js"></script>
<script src="./js/lib/vue-resource.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
</script>


</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">审核功能</a></li>
    <li><a href="#">待审核列表</a></li>
    </ul>
    </div>
    
    <div class="rightinfo" id="app">
    
    
    <table class="tablelist" >
    	<thead >
    	<tr>
        <th>编号<i class="sort"><img src="images/px.gif" /></i></th>
        <th>审核类型</th>
        <th>账户</th>
        <th>发起时间</th>
        <th>审核时间</th>
        <th>状态</th>
        <th>操作</th>
        </tr>
        </thead>
        <tbody id="biaodan" v-for="(item,index) in shenhelist">
        <tr>
        <td>{{(currentpage-1)*pagesize+index+1}}</td>
        <td>{{item.shlx | formatShlx}}</td>
        <td>{{item.zh}}</td>
        <td>{{item.fqsj}}</td>
        <td>{{item.shsj}}</td>
        <td>{{item.zt | formatZt}}</td>
        <td>
        	<a href="#" class="tablelink">查看</a>  
        	&nbsp;   
        	<a href="#" class="tablelink" v-on:click="tongGuo(item)">通过</a>
        	&nbsp; 
        	<a href="#" class="tablelink" v-on:click="buTongGuo(item)">不通过</a>
        </td>
        </tr> 

        </tbody>
    </table>
    
   
    <div class="pagin" >
    	<div class="message">共<i class="blue">{{sum}}</i>条记录，当前显示第&nbsp;<i class="blue">{{currentpage}}&nbsp;</i>页</div>
        <ul class="paginList">
        <li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>
        <li v-bind:class=" {'paginItem current':item===currentpage,'paginItem':isFalse}" 
			v-for="(item,index) in totalpage"
			v-on:click="fenye(pagesize,item)"><a href="javascript:;">{{item}}</a></li>
        <li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>
        </ul>
    </div>
    
    
    <div class="tip">
    	<div class="tiptop"><span>提示信息</span><a></a></div>
        
      <div class="tipinfo">
        <span><img src="images/ticon.png" /></span>
        <div class="tipright">
        <p>是否确认对信息的修改 ？</p>
        <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
        </div>
        </div>
        
        <div class="tipbtn">
        <input name="" type="button"  class="sure" value="确定" />&nbsp;
        <input name="" type="button"  class="cancel" value="取消" />
        </div>
    
    </div>
    
    </div>
    
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>
	<script>
		var vm=new Vue({
			el:"#app",
			data:{
				shenhelist:[],
				sum:0,
				totalpage:5,
				currentpage:1,
				isTrue:false,
				isFalse:true,
				pagesize:10
			},
			filters:{
				formatShlx:function(value){
					return value==1?"个人信息审核":"职位信息审核";
				},
				formatZt:function(value){
					if(value==1){
						return "审核中";
					}else if(value==2){
						return "审核通过";
					}else{
						return "审核不通过";
					}
				}
			},
			mounted:function(){

				var _this=this;
				$.ajax({
					url:'http://localhost:8080/springmvc_mybatis/admin/dshlb',
					type:'post',
					contentType:'application/json;charset=UTF-8',
					data:JSON.stringify({"pagesize":_this.pagesize,"page":1}),
					success:function(result){
						_this.shenhelist=result.result.data;
						_this.sum=result.result.sum;
						_this.totalpage=result.result.totalpage;
						_this.currentpage=1;
					},
					error:function(result){
					console.log('error');
					}
				})
			},
			methods:{
				tongGuo:function(item){
				$.ajax({
					url:'http://localhost:8080/springmvc_mybatis/admin/shtg',
					type:'post',
					contentType:'application/json;charset=UTF-8',
					data:JSON.stringify(item),
					dataType:'json',
					success:function(result){
						if(result.result.success){
							location.reload();
						}
					},
					error:function(result){
						console.log('error');
					}
				})
				},
				buTongGuo:function(item){
					$.ajax({
						url:'http://localhost:8080/springmvc_mybatis/admin/shbtg',
						type:'post',
						contentType:'application/json;charset=UTF-8',
						data:JSON.stringify(item),
						dataType:'json',
						success:function(result){
							if(result.result.success){
								location.reload();
							}
						},
						error:function(result){
							console.log('error');
						}
					})
				},
				fenye:function(pagesize,item){
				var _this=this;
				$.ajax({
					url:'http://localhost:8080/springmvc_mybatis/admin/dshlb',
					type:'post',
					contentType:'application/json;charset=UTF-8',
					data:JSON.stringify({"pagesize":pagesize,"page":item}),
					success:function(result){
						_this.shenhelist=result.result.data;
						_this.sum=result.result.sum;
						_this.totalpage=result.result.totalpage;
						_this.currentpage=item;
					},
					error:function(result){
					console.log('error');
					}
				})
			}
				
			}
		});
	</script>
</body>

</html>
