<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liyuan.mapper.AdminMapper" >
	<resultMap type="com.liyuan.po.ShenheEntity" id="shenhe">
		<result column="c_id" jdbcType="VARCHAR" property="id"/>
		<result column="n_shlx" jdbcType="INTEGER" property="shlx"/>
		<result column="dt_shsj" jdbcType="TIMESTAMP" property="shsj"/>
		<result column="dt_fqsj" jdbcType="TIMESTAMP" property="fqsj"/>
		<result column="n_zt" jdbcType="INTEGER" property="zt"/>
		<result column="c_jlid" jdbcType="VARCHAR" property="jlid"/>
		<result column="c_zh" jdbcType="VARCHAR" property="zh"/>
	</resultMap>
	<resultMap type="com.liyuan.po.JubaoEntity" id="jubao">
		<result column="c_id" jdbcType="VARCHAR" property="id"/>
		<result column="n_jblx" jdbcType="INTEGER" property="jblx"/>
		<result column="c_jbrid" jdbcType="VARCHAR" property="jbrid"/>
		<result column="c_bjbrid" jdbcType="VARCHAR" property="bjbrid"/>
		<result column="c_jbrxm" jdbcType="VARCHAR" property="jbrxm"/>
		<result column="c_bjbrxm" jdbcType="VARCHAR" property="bjbrxm"/>
		<result column="dt_jbsj" jdbcType="TIMESTAMP" property="jbsj"/>
		<result column="dt_clsj" jdbcType="TIMESTAMP" property="clsj"/>
		<result column="n_cljg" jdbcType="INTEGER" property="cljg"/>
		<result column="c_jbnr" jdbcType="VARCHAR" property="jbnr"/>
	</resultMap>
	
	<select id="selectDsh" resultMap="shenhe">
		select * from db_test.t_shenhelist where n_zt=1
	</select>
	
	<select id="selectYsh" resultMap="shenhe">
		select * from db_test.t_shenhelist where n_zt in (2,3)
	</select>
	
	<update id="updataTgsh" >
		update db_test.t_shenhelist set 
		n_zt=#{zt},dt_shsj=#{shsj}
		where c_id=#{id}
	</update>
	
	<delete id="deleteShxx" >
		delete from db_test.t_shenhelist where c_id=#{id}
	</delete>
	
	<select id="selectDcl" resultMap="jubao">
		select * from db_test.t_reportinfo where n_cljg=1
	</select>
	
	<select id="selectYcl" resultMap="jubao">
		select * from db_test.t_reportinfo where n_cljg in (2,3)
	</select>
</mapper>