<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liyuan.mapper.JobMapper" >
	<resultMap id="jobtype" type="com.liyuan.po.JobTypeEntity">
		<result column="c_id" jdbcType="VARCHAR" property="c_id"/>
		<result column="c_jobtype1" jdbcType="VARCHAR" property="c_type1"/>
		<result column="c_jobtype2" jdbcType="VARCHAR" property="c_type2"/>
		<result column="c_jobtype3" jdbcType="VARCHAR" property="c_type3"/>
		<result column="n_code" jdbcType="INTEGER" property="n_code"/>
	</resultMap>
	
	<resultMap id="jobinfo" type="com.liyuan.po.JobInfoEntity">
		<result column="c_id" jdbcType="VARCHAR" property="c_id"/>
		<result column="n_code" jdbcType="INTEGER" property="n_code"/>
		<result column="c_zwmc" jdbcType="VARCHAR" property="c_zwmc"/>
		<result column="n_gzxz" jdbcType="INTEGER" property="n_gzxz"/>
		<result column="n_yx" jdbcType="INTEGER" property="n_yx"/>
		<result column="n_gzjy" jdbcType="INTEGER" property="n_gzjy"/>
		<result column="n_xlyq" jdbcType="INTEGER" property="n_xlyq"/>
		<result column="c_zwms" jdbcType="VARCHAR" property="c_zwms"/>
		<result column="c_gzdz" jdbcType="VARCHAR" property="c_gzdz"/>
		<result column="c_jsjlyx" jdbcType="VARCHAR" property="c_jsjlyx"/>
		<result column="n_llcs" jdbcType="INTEGER" property="n_llcs"/>
		<result column="n_zt" jdbcType="INTEGER" property="n_zt"/>
		<result column="dt_fbsj" jdbcType="TIMESTAMP" property="dt_fbsj"/>
		<result column="dt_fbsj" jdbcType="VARCHAR" property="c_fbzid"/>
	</resultMap>
  <select id="selectJobtype" resultMap="jobtype">
  	select * from db_test.t_jobtype
  </select>
  
  <insert id="insertJobinfi">
  	insert into db_test.t_jobinfo
  	 (c_id,n_code,c_zwmc,n_gzxz,n_yx,n_gzjy,n_xlyq,c_zwms,c_gzdz,c_jsjlyx,dt_fbsj,n_zt,c_fbzid,n_yxzt) 
  	 values 
  	 (#{c_id},#{n_code},#{c_zwmc},#{n_gzxz},#{n_yx},#{n_gzjy},#{n_xlyq},#{c_zwms},
  	 #{c_gzdz},#{c_jsjlyx},#{dt_fbsj},#{n_zt},#{c_fbzid},#{n_yxzt})
  </insert>
  
  <select id="selectJob" resultMap="jobinfo">
  	select c_id,n_code,c_zwmc,n_gzxz,n_yx,n_gzjy,
  	n_xlyq,c_zwms,c_gzdz,c_jsjlyx,n_llcs,n_zt,dt_fbsj,c_fbzid
  	from db_test.t_jobinfo
  	where c_id=#{c_id}
  </select>
  
  <select id="selectHotJob" resultMap="jobinfo">
  	select c_id,n_code,c_zwmc,n_gzxz,n_yx,n_gzjy,n_xlyq,c_zwms,
  	c_gzdz,c_jsjlyx,n_llcs,n_zt,dt_fbsj,dt_fbsj from db_test.t_jobinfo 
  	where n_yxzt=1
  	and n_zt=2
  	order by n_llcs desc
  	limit 0,20
  </select>
  
   <select id="selectNewJob" resultMap="jobinfo">
  	select c_id,n_code,c_zwmc,n_gzxz,n_yx,n_gzjy,n_xlyq,c_zwms,
  	c_gzdz,c_jsjlyx,n_llcs,n_zt,dt_fbsj,dt_fbsj from db_test.t_jobinfo 
  	where n_yxzt=1
  	and n_zt=2
  	order by dt_fbsj desc
  	limit 0,20
  </select>
  
  <select id="selectSearchJob" resultMap="jobinfo">
  	select c_id,n_code,c_zwmc,n_gzxz,n_yx,n_gzjy,n_xlyq,c_zwms,
  	c_gzdz,c_jsjlyx,n_llcs,n_zt,dt_fbsj,dt_fbsj from db_test.t_jobinfo 
  	<where>
  		n_yxzt=1
  		and n_zt=2
  		<if test="fbsj!=0">
  		AND dt_fbsj &gt; #{dt_fbsj}
  		</if>
  		<if test="c_nr!='' ">
  			AND	c_zwmc like '%${c_nr}%'
  		</if>
  		<if test="n_gzjy!=1">
  			AND	n_gzjy=#{n_gzjy}
  		</if>
  		<if test="n_xlyq!=0">
  			AND n_xlyq &gt;=#{n_xlyq}
  		</if>
  		<if test="n_gzxz!=0">
  			AND n_gzxz=#{n_gzxz}
  		</if>
  		<if test="n_yxstart!=0">
  			AND n_yx &gt; #{n_yxstart}
  		</if>
  		<if test="n_yxend!=0">
  			AND n_yx &lt; #{n_yxend}
  		</if>
  	</where>
  		limit #{pagesize,jdbcType=INTEGER} 
  		offset #{offset,jdbcType=INTEGER};
  </select>
  
   <select id="selectSearchJobNumber" resultType="long">
  	select count(*) from db_test.t_jobinfo 
  	<where>
  		n_yxzt=1
  		and n_zt=2
  		<if test="fbsj!=0">
  			AND dt_fbsj &gt; #{dt_fbsj}
  		</if>
  		<if test="c_nr!='' ">
  			AND	c_zwmc like '%${c_nr}%'
  		</if>
  		<if test="n_gzjy!=0">
  			AND	n_gzjy=#{n_gzjy}
  		</if>
  		<if test="n_xlyq!=0">
  			AND n_xlyq=#{n_xlyq}
  		</if>
  		<if test="n_gzxz!=0">
  			AND n_gzxz=#{n_gzxz}
  		</if>
  		<if test="n_yxstart!=0">
  			AND n_yx &gt; #{n_yxstart}
  		</if>
  		<if test="n_yxend!=0">
  			AND n_yx &lt; #{n_yxend}
  		</if>
  	</where>
  </select>
  
  <select id="selectyxJob" resultMap="jobinfo">
  	 	select c_id,n_code,c_zwmc,n_gzxz,n_yx,n_gzjy,n_xlyq,c_zwms,
  		c_gzdz,c_jsjlyx,n_llcs,n_zt,dt_fbsj,dt_fbsj from db_test.t_jobinfo 
  		where c_fbzid=#{c_fbzid} AND n_yxzt=1
  </select>
  
   <select id="selectwxJob" resultMap="jobinfo">
  	 	select c_id,n_code,c_zwmc,n_gzxz,n_yx,n_gzjy,n_xlyq,c_zwms,
  		c_gzdz,c_jsjlyx,n_llcs,n_zt,dt_fbsj,dt_fbsj from db_test.t_jobinfo 
  		where c_fbzid=#{c_fbzid} AND n_yxzt=2
  </select>
  
	  <update id="updateXxJob">
	  	update db_test.t_jobinfo set n_yxzt=2 where c_id=#{c_id}
	  </update>
  
    <update id="updateSxJob">
  		update db_test.t_jobinfo set n_yxzt=1 where c_id=#{c_id}
  	</update>
  
  	<delete id="deleteJob">
  		delete from db_test.t_jobinfo where c_id=#{c_id}
  	</delete>
  
  	<select id="selectWscJob" resultMap="jobinfo">
  		select job.c_id,job.n_code,job.c_zwmc,job.n_gzxz,job.n_yx,job.n_gzjy,job.n_xlyq,job.c_zwms,
  		job.c_gzdz,job.c_jsjlyx,job.n_llcs,job.n_zt,job.dt_fbsj,job.dt_fbsj 
  		from db_test.t_jobinfo job join db_test.t_wscjob wsc on job.c_id=wsc.c_jobid
  		where wsc.c_userid=#{c_userid}
  	</select>
  	
  	<insert id="insertWscJob">	
  		insert into db_test.t_wscjob (c_id,c_userid,c_jobid) values (#{c_id},#{c_userid},#{c_jobid})
  	</insert>
  	
  	<delete id="deleteWscJob">
  		delete from db_test.t_wscjob where c_userid=#{c_userid} and c_jobid=#{c_jobid}
  	</delete>
</mapper>