<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liyuan.mapper.LoginMapper" >

	<resultMap id="user" type="com.liyuan.po.LoginEntity">
		<result column="c_email" jdbcType="VARCHAR" property="email"/>
		<result column="c_password" jdbcType="VARCHAR" property="password"/>
		<result column="n_type" jdbcType="INTEGER" property="type"/>
		<result column="c_id" jdbcType="VARCHAR" property="id"/>
		<result column="c_xm" jdbcType="VARCHAR" property="name"/>
	</resultMap>
  <select id="selectUser" resultMap="user">
  	select user.c_email,user.c_password,user.n_type,user.c_id,info.c_xm
  	from db_test.t_user user join db_test.t_userinfo info on user.c_id=info.c_bh 
  	where c_email=#{email}
  </select>
  <insert id="insertUser">
  	insert into db_test.t_user (c_email,c_password,c_id) value (#{email},#{password},#{uuid})
  </insert>
  <select id="selectUserInfo" resultType="int">
  	select count(*) from db_test.t_userinfo where c_bh=#{bh}
  </select>
</mapper>